<%= form_for @user do |form| %>
  <% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  Avatar
  <%= form.file_field :avatar %>
  Photo
  <%= form.file_field :photos, multiple: true %>
  <%=  %>
  <%= form.submit %>
<% end %>